.footer {
  width: 100%;
  background: #6e7592;
  color: white;
  padding: 20px 40px;
  left: 0;
  z-index: 100;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer-logo {
  height: 40px;
  margin-right: 10px;
}

.footer-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-copy {
  font-size: 0.9rem;
  margin-bottom: 6px;
}

.footer-link {
  color: #E5A000;
  font-size: 0.9rem;
  text-decoration: none;
  transition: 0.25s;
}

.footer-link:hover {
  text-decoration: underline;
}