@import './base.css';

#app {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

img {
  max-width: 100%;
}
.questions-section,
.form-scroll label,
.create-quiz-title,
.why-list,
.login-title {
  color: black;
}

.quiz-comments,
.quiz-info-meta,
.quiz-info-title,
span {
  color: #E5A000;
}